body{
    font-family: 'Poppins', sans-serif;

    margin: 0;
}
section{
    height: 800px;
    padding-bottom: 100px;
}
#about-care {
    height: 600px;
}
h1 {
   
    font-size: 53px;
   line-height: 60%;
   letter-spacing: 5px;
}
.head{
    background-image: url("images/Frame-57.jpg");
    background-repeat: no-repeat ;
}
#font-p-m {
    padding-top: 15%;
}
p { 
    font-size: 20px;
    color: grey;
  
}
h1 span {
    color: orange;
}
.half-banner {
   

float: left;
width: 40%;
padding-left: 2%;
padding-top: 05%;
margin-left: 5% ;

}
.link-button{
    text-align: 90px;
    font-size: 1em;
    text-decoration: none;
    background-image: linear-gradient(orange, tomato);
    padding: 30px 50px;
    padding-top: 10px;
    font-weight: 800;
    color: white;
    border-radius: 40px;
}
.about{
    background-image: url("images/Frame-57.jpg");
    background-repeat: no-repeat;
    
}
#about-p-m {
    padding-top: 2%;
    font-size: 20px;
    
}
.food-table {
    display: table;  
}
.food-rec {
   width: 25%;
    float: left;
    padding-top: 20px;
    padding: 40px;
    margin-left: 30px;
    box-shadow: 5px 7px 40px gray;
    height: 70%;
   border-radius: 30px;
}
.finish {
    display: table; 
}
.fin-l{
    width: 30%;
    float: left;
    padding: 30px;
    margin-left: 30px;

}
.recepie{
    text-align: center;
}
#sec-recep p{
    font-size: 16px;
}
#sec-recep{
    height: 700px;
}
h3 span 
{ color: orange;}
footer{
    background-color: rgb(39, 177, 119);
    height: 200px;
}
footer p{
    color: whitesmoke;
    text-align: center;
    
}