body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}
section{
    height: 800px;
    padding-bottom: 100px;
}
#about-care {
    height: 600px;
}
h1 {
   
    font-size: 46px;
   line-height: 50%;
   letter-spacing: 3px;
}
.head{
    background-image: url("images/Frame-59.jpg");
    background-repeat: no-repeat ;
}
#font-p-m {
    padding-top: 15%;
}
p { 
    font-size: 20px;
    color: grey;
  
}
h1 span {
    color: orange;
}
.half-banner {
   

float: left;
width: 40%;
padding-left: 2%;
padding-top: 05%;
margin-left: 5% ;

}
.link-button{
    
    margin-left: 100px;
    text-align: 90px;
    font-size: 1em;
    text-decoration: none;
    background-image: linear-gradient(orange, tomato);
    padding: 30px 50px;
    padding-top: 10px;
    font-weight: 800;
    color: white;
    border-radius: 40px;
}
.about{
    background-image: url("images/Frame-57.jpg");
    background-repeat: no-repeat;
    
}
#about-p-m {
    padding-top: 13%;
    font-size: 20px;
    
}
.food-table {
    display: table;  
}
.food-recipe {
   width: 25%;
    float: left;
    padding-top: 20px;
    padding: 40px;
    margin-left: 30px;
    box-shadow: 5px 7px 40px gray;
    height: 65%;
   border-radius: 30px;
}
#last-section{
    text-align: center;
    padding: 40px;
}
.recepie{
    text-align: center;
}
#sec-recep p{
    font-size: 16px;
}
#sec-recep{
    height: 700px;
}
h3 span 
{ color: orange;}
footer{
    background-color: rgb(6, 35, 114);
    height: 200px;
}
footer {
    color: white;
    text-align: center;
    
}
footer span{
    color: lightgreen;
}